[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "thirdparty/SDL_mixer"]
	path = thirdparty/SDL_mixer
	url = git@github.com:libsdl-org/SDL_mixer.git
[submodule "thirdparty/SDL_ttf"]
	path = thirdparty/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
